.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.home__headerLink{
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-size: 15px;
}
.home__headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home__headerRightIcons{
    margin-right: 20px;
    cursor: pointer;
}

.home__headerLink:hover{
    text-decoration: underline;
}

.home__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 63%;
}

.home__body img{
    max-width: 40%;
    height: 100px;
}

.home__inputContainer{
    width: 80%;
}