.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.search__header{
    width: 90%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    
    background-color: white;
    z-index: 100;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.search__headerLogo{
    height: 50px;
    display: block;
    margin: auto;
}
.search__headerBody{
    width: 80%;
    max-width: 700px;
}
.search__headerBody .input .input__input{
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}

.search__result{
    margin: 20px 0;
}

.search__resultsCount{
    color: #70757a;
    font-size: 14px;
}

.search__results{
    max-width: 750px;
    margin-top: 20px;
    /* margin-left: 240px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.search__resultTitle{
    text-decoration: none;
}
.search__resultTitle:hover{
    text-decoration: underline;
}
.search__resultTitle h2{
    font-weight: 500;
}
.search__resultSnippet{
    margin-top: 10px;
}

@media(max-width: 768px)
{
    .search__header{
        width: 100%;
    }
}